<html>
<head>
	<title> ofmysize </title>
</head>

<body>
	<h4> Search products </h4>

	<%= form_tag '/products', :action => 'search', :html => {:class => 'form-horizontal'} do %>
		<div class="control-group">
			<%= label_tag :gender, "Gender: ", :class=>"control-label" %>
			<div class="controls">
				<%= radio_button_tag :gender, 'F'%> female
				<%= radio_button_tag :gender, 'M'%> male
			</div>
			<br/>

			<%= label_tag :size_type, "Size type: ", :class=>"control-label" %>
			<div class="controls">
				<%= radio_button_tag :size_type, 'R', :checked => true%> regular
				<%= radio_button_tag :size_type, 'P'%> petite
			</div>
			<br/>

			<%= label_tag :category, "Category: ", :class=>"control-label" %>
			<div class="controls">
				<%= select_tag :category, options_from_collection_for_select(@category, "id", "name"), :prompt => "Select Category: " %>
			</div>

			<%= label_tag :size, "Size", :class=>"control-label" %>
			<div class="controls">
				<%= select_tag :size, options_from_collection_for_select(@size, "id", "name"), :prompt => "Select Size: " %>
			</div>

			<%= label_tag :brand, "Brand", :class=>"control-label" %>
			<div class="controls">
				<%= select_tag :brand, options_from_collection_for_select(@brand, "id", "name"), :prompt => "Select Brand: " %>
			</div>
			<br/>

			<div class="controls">
				<%= submit_tag "Search", :class=>"btn btn-primary"%>
			</div>
		</div>
	<% end %>
</body>

</html>